* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/purple-gradient-background.png);
    background-size: 100%;
}

.hrmlogo {
    margin-top: 30px;
    margin-bottom: 10px;
}

.forgotpass {
    margin-left: 140px;
}
