* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/blue-polygon-bg.png);
    background-size: 100%;
}

.card {
    margin-top: 70px;
}

.forgotpass {
    margin-left: 140px;
}
