* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-top: 30px;
}

.card-header img {
    width: 50px;
}

.card-header h4 {
    color: white;
}

.form-row, .form-group {
    margin-bottom: 10px;
}

#btnHuyTuyenDung {
    margin-left: 550px;
}

#btnGuiTuyenDung {
    margin-left: 30px;
}

/* PHẦN CSS CỦA dangkythanhcong.php */

.r1 {
    margin-top: 150px;
}

.fa-check-circle {
    color: #04aa04;
}

.r2 p {
    font-size: 50pt;
    font-weight: 600;
    color: #15fa15;
}

.r3 p, .r3 a {
    font-size: 20pt;
    font-weight: 500;
    color: white;
}