.card-quanliphongban .card-header{
    color: white;
}

.card-quanliphongban {
    width: 1000px;
    margin: 10px auto;
    box-shadow: 1px 1px 15px 0px #aaaaaa;
}

#table-phongban {
    width: 90%;
    margin: 20px auto;
}

#btnThemPB {
    margin-left: 750px;
}

.div-themphongban {
    margin-left: 50px;
}

#btnThemPhongBan {
    position: absolute;
    left: 800px;
    top: 140px;
}

.modal-body .row, .div-message {
    margin-top: 10px;
}

.mybtn a {
    color: white;
}