<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nộp đơn tuyển dụng</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.5.0-web/css/all.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/formtuyendung.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center bg-primary">
                        <img src="images/logobienxanh.png" alt="logobienxanh">
                        <h4>Thông tin cá nhân</h4>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="ten-ungvien">Họ và tên: </label>
                                    <input type="text" name="ten-ungvien" id="ten-ungvien" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="ngaysinh-ungvien">Ngày sinh: </label>
                                    <input type="date" name="ngaysinh-ungvien" id="ngaysinh-ungvien" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="cmnd-ungvien">Số CMND: </label>
                                    <input type="text" name="cmnd-ungvien" id="cmnd-ungvien" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="gioitinh-ungvien">Giới tính: </label>
                                    <select id="gioitinh-ungvien" name="gioitinh-ungvien" class="form-control">
                                        <option value="name">Nam</option>
                                        <option value="nu">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="diachi-ungvien">Địa chỉ: </label>
                                <input type="text" name="diachi-ungvien" id="diachi-ungvien" class="form-control">
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="sdt-ungvien">Số điện thoại: </label>
                                    <input type="text" name="sdt-ungvien" id="sdt-ungvien" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="email-ungvien">Địa chỉ email: </label>
                                    <input type="text" name="email-ungvien" id="email-ungvien" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="trinhdo-ungvien">Trình độ học vấn: </label>
                                    <select class="form-control" name="trinhdo-ungvien" id="trinhdo-ungvien">
                                        <option value="tnc3">Tốt nghiệp cấp 3</option>
                                        <option value="tndh" selected>Tốt nghiệp đại học</option>
                                        <option value="trdh">Trên đại học</option>
                                        <option value="khac">Khác</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="vitri-ungvien">Vị trí muốn ứng tuyển: </label>
                                    <select id="vitri-ungvien" name="vitri-ungvien" class="form-control">
                                        <option value="nvbh">Nhân viên bán hàng</option>
                                        <option value="nvkd">Nhân viên kinh doanh</option>
                                        <option value="nvmt">Nhân viên Marketing</option>
                                        <option value="thuky">Thư ký văn phòng</option>
                                    </select>
                                </div>
                            </div>
                            <a href="index.html" class="btn btn-secondary" id="btnHuyTuyenDung">Hủy</a>
                            <button type="submit" name="btnGuiTuyenDung" id="btnGuiTuyenDung" class="btn btn-primary">Đăng ký ứng tuyển</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>