<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Điện máy Biển Xanh</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.5.0-web/css/all.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="picture1">
                <div class="div-first-contact">
                    <span class="first-contact"><i class="fas fa-phone"></i> 0909 123 456</span>
                    <span class="first-contact"><i class="fas fa-map-marker-alt"></i> 233 Lý Thái Tổ</span>
                    <a href="login.php"><span class="first-contact"><i class="fas fa-sign-in-alt"></i> Login</span></a>
                </div>
                <img src="images/logobienxanh.png" alt="logocongty">
                <p id="title-index">Điện máy Biển Xanh</p>
                <p id="title-index2">Sản phẩm thật - Chất lượng thật</p>
            </div>
        </div>
        <div class="row quangcao justify-content-center">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="images/content1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Môi trường làm việc năng động, đầy sự sáng tạo, nhiệt huyết. Công ty tổ
                            chức nhiều event cho nhân viên, và các khóa đào tạo nâng cao trình độ chuyên mô</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="images/contet2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Môi trường làm việc vui vẻ. Mỗi ngày đến nơi làm là mỗi một cảm hứng mới,
                            biến nơi làm việc trở thành nơi đáng nhớ nhất trong khoảng thòi gian làm việc.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="images/content3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Môi trường làm việc chuyên nghiệp. Cùng các chuyên gia xây dựng và phát
                            triển công ty theo định hướng mở, kết nối toàn cầu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row tuyendung">
            <div class="picture2">
                <p class="title-tuyendung">Trở thành nhân viên kinh doanh, nhân viên bán hàng, các trưởng phòng, thư
                    ký,...</p>
                <a href="formtuyendung.php" id="link-tuyendung">Đăng ký tuyển dụng</a>
            </div>
        </div>
        <div class="row roww">
            
        </div>
        <div class="row footer">
            <div class="col-4" id="tru-so">
                CÔNG TY CỔ PHẦN ĐIỆN MÁY BIỂN XANH<br /> <br />
                Trụ sở TP. Hồ Chí Minh
                <br>
                &emsp;&emsp;Hẻm 521 Cách Mạng Tháng Tám Thành Phố Hồ Chí Minh
                <br>
                Chi nhánh Hà Nội
                <br>
                &emsp;&emsp;222 Trần Duy Hưng, Trung Hoà, Cầu Giấy, Hà Nội
                <br>
                Chi nhánh Đà Nẵng
                <br>
                &emsp;&emsp;255 Hùng Vương, Vĩnh Trung, Thanh Khê, Đà Nẵng
            </div>
            <div class="col-4" id="hop-tac">
                LIÊN HỆ HỢP TÁC<br /><br />
                Email: dienmaybienxanh@gmail.com<br>
                Hotline: 0909 123 456<br>
                Fanpage: facebook.com/dienmaybienxanh<br>
            </div>
            <div class="col-4" id="ban-quyen">
                BẢN QUYỀN THUỘC VỀ<br /><br />
                <p>Copyright &#169; 2018. All rights reserved.<br>Công ty cổ phần WDHL - Web Design Hòa Linh.<br>Giấy
                    phép đăng ký kinh doanh 18011997 ngành Giáo Dục sở Kế Hoạch và Đầu Tư Hồ Chí Minh</p>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>